VITE_SUPABASE_URL=https://supabase.sritakshashilagurukul.com
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzg0NzM3MDkxLCJleHAiOjE5NDI0MTcwOTF9.AB_GSUokr6NdAhbk4R6d-hTsMgCahF-SydlL3rtvGaI
